* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Opens Sans', sans-serif;
}

body {
  background-image: url(../assets/img/banner-login.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}